{{#if _extended}}
<input type="checkbox" data-tracklist-id="{{tlid}}">
{{/if}}
<span class="track_item_title {{#if current}}current_track{{/if}}">{{track.name}}</span> <span class="track_item_artist">{{track.artists.0.name}}</span>
