  <ul class="action-toolbar">
    <li><span role="button" class="clear_queue" tabindex="0">Clear Queue</span></li>
    <li><span role="button" class="delete_selected" tabindex="0">Delete Selected</span></li>
  </ul>
