[submodule "less/css-smart-grid"]
	path = less/css-smart-grid
	url = https://github.com/dryan/css-smart-grid
[submodule "less/elements"]
	path = less/elements
	url = https://github.com/dmitryf/elements
[submodule "less/HelpLess"]
	path = less/HelpLess
	url = https://github.com/m6tt/HelpLess
[submodule "js/lastfm"]
	path = js/lastfm
	url = git://github.com/fxb/javascript-last.fm-api.git
