[submodule "js/handlebars"]
	path = js/handlebars
	url = https://github.com/wycats/handlebars.js.git
[submodule "js/backbone"]
	path = js/backbone
	url = https://github.com/documentcloud/backbone
[submodule "js/underscore"]
	path = js/underscore
	url = https://github.com/documentcloud/underscore
[submodule "js/zepto"]
	path = js/zepto
	url = https://github.com/madrobby/zepto
[submodule "less/css-smart-grid"]
	path = less/css-smart-grid
	url = https://github.com/dryan/css-smart-grid
[submodule "less/elements"]
	path = less/elements
	url = https://github.com/dmitryf/elements
[submodule "less/HelpLess"]
	path = less/HelpLess
	url = https://github.com/m6tt/HelpLess
[submodule "js/lastfm"]
	path = js/lastfm
	url = git://github.com/fxb/javascript-last.fm-api.git
[submodule "js/marked"]
	path = js/marked
	url = git://github.com/chjj/marked
