{{#if _extended}}
<input type="checkbox" data-track-id="{{uri}}">
{{/if}}
<span class="track_item_title {{#if current}}current_track{{/if}}">{{name}}</span> <span class="track_item_artist">{{artists.0.name}}</span>
