<div class="modal-dialog">
  <div class="modal-content">
    {{#if header}}
    <div class="modal-header">
      <h1 class="modal-title">{{header}}</h1>
    </div>
    {{/if}}
    <div class="modal-body">
      {{message}}
    </div>
  </div>
</div>
