{{#if lastfm}}
<h1>Now Playing</h1>
<div class="container">
  <div class="row">
    <div class="columns four">
      {{#if ../images}}
      <img src="{{{images.2.url}}}" alt="" class="cover_art">
      {{/if}}
    </div>
    <div class="columns eight">
      <div class="view-section-pad">
        <p>{{{name}}}<br />{{{lastfm.artist}}}</p>
      </div>
    </div>
  </div>
</div>
{{/if}}
