@import "../css-smart-grid/less/smart-grid";
@import "../HelpLess/helpless.1.0.1";
@import "../elements/elements";
@import "mixins";

@containerMaxWidth:          100%; // set this to the maximum width you want .container to have

html {
  height: 100%;
  overflow: auto;
  background: rgb(36,171,217);
}

body {
  font-family: sans-serif;
  min-height: 100%;
  padding: 0;
}

main {
  display: block;
}

[role=button] {
  cursor: pointer;
  .disableSelection;
}

h1 {
  font-size: 1em;
  margin: 0 0 .5em;
}

span.pink {
  color: #D92450;
}

.app_view {
  .fadeOut();
}
.opaque {
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0 0 8px #fff;
  -moz-box-shadow: 0 0 8px #fff;
  box-shadow: 0 0 8px #fff;
}
.action-toolbar {
  border-bottom: solid 1px #fafafa;
  list-style: none inside;
  padding: .4375em .875em .5em;
  margin: 0 0 .125em;
  input[type=checkbox] {
    margin: 0;
  }
  li {
    display: inline-block;
    span {
      display: inline-block;
      .rounded(.125em);
      line-height: 1.5;
      .bw-gradient(#eee, 187, 238);
      border: outset 1px rgba(187,187,187,.5);
      padding: 0 .25em;
      &:active {
        border-style: inset;
      }
    }
  }
}
.view-model {
  padding: 1em 1em 0;
  overflow: auto;

  & + .view-list, & + .interactive-list {
    & > .action-toolbar {
      padding-top: 0;
    }
  }
  & + .view-list:before, & + .interactive-list:before {
    margin-top: .5em;
    margin-bottom: .5em;
    display: block;
    content: '';
    border-top: solid 1px #f1f1f1;
  }
}
.view-model-link {
  padding-bottom: 1em;
  a {
    color: #444;
    text-decoration: none;
  }
}
.view-section {
  overflow: hidden;
  padding: 0;
  margin: 0 0 .5em;
  .fadeOut();

  h1 {
    margin: 0 0 .125em;
    padding: .5em .75em .5em;
  }
  > p {
    padding: .5em;
  }
}

.tab-view-section-tab {
  padding: .125em 0 0;
}

.view-section-pad {
  margin: 0 .75em 0;
}

[role="tablist"] {
  cursor: pointer;
  list-style: none inside ;
  margin-bottom: 0;
  padding: 0;

  [role~="tab"] {
    display: inline-block;
    line-height: 2;
    padding: 0 0.5em;
    &:focus, &:active {
      outline: none;
      color: #d9214d;
    }
  }
  [role~="tab"][tabindex~="0"] {
    background-color: #fff;
    color: #000;
    &:focus, &:active {
      outline: none;
      color: #d9214d;
    }
  }
}

[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

.hidden {
  position: static;
  opacity: 0;
  .fadeOut();
  display: none;
}

.scrolling_container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

h2 {
  font-size: 1.125em;
  font-weight: normal;
  margin: 0 0 .25em;
}

p, ul {
  margin: 0 0 .25em;
}

form {
  display: table;
  width: 100%;
  border-spacing: .25em;
  /*margin: -.25em;*/
  .side_by_side {
    display: table-row;
    & > * {
      display: table-cell;
      border-collapse: separate;
      select, input, textarea {
        width: 100%;
      }
    }
  }

  input[type=submit] {
    .gradient(#3054bf, #0434bf, #3054bf);
    .drop-shadow(2px, 2px, 2px, 0.3);
    .rounded(.5em);
    color: #fff;
    border: none;
    padding: .25em .75em;
  }
}

.loading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #66c5ef none repeat fixed top left;
  color: #444;
  p {
    text-align: center;
    padding-top: 300px;
    background: transparent url(../img/landing_logo.png) no-repeat 50% 2em;
  }
}

.mopidy-connected .loading_overlay {
  display: none;
}

[role=banner] h1 {
  text-indent: -9999em;
  dir:ltr;
  background: transparent url('../img/logo.png') no-repeat center center;
  line-height: 53px;
}

input[type=search] {
  display: block;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.5em;
  width: 85%;
}

.interactive-list {
  list-style: none inside ;
  margin: 0 ;
  padding: 0 .125em .125em;
  .box-sizing(border-box);
  .interactive-list-item {
    span {
      pointer-events: none;
      display: inline-block;
      vertical-align: middle;
    }
    display: block;
    input[type=checkbox] {
      margin: 0;
      vertical-align: middle;
      line-height: 2;
    }
    .track_item_artist, .album_artist {
      color: #333;
    }
    .disableSelection;
    .rounded(1em);
    .box-sizing(border-box);
    cursor: default;
    width: 100%;
    margin: 0;
    padding: 0 .75em;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &[aria-selected="true"] {
      .inner-shadow(0, 1px, 2px, 0.4);
      background-color: #777;
      outline: none;
      color: #fff;
      &:focus {
        background-color: #d9214d;
      }
    }
    &.current_track {
      .inner-shadow(0, 1px, 2px, 0.4);
      .rounded(1em);
      background-color: rgba(0,0,0,.1);
    }
    &:hover {
      .inner-shadow(0, 1px, 2px, 0.4);
      .rounded(1em);
      background-color: rgba(217, 33, 77, .3);
    }
    &:active {
      .inner-shadow(0, 1px, 2px, 0.8);
      background-color: #d9214d;
      outline: none;
      color: #000;
    }
    &.dragover:after {
      background-color: rgba(0,0,0,.2);
      color: #444;
      content: ' Move Track Here ';
      .rounded(1em);
      line-height: 2;
      display: block;
      margin: 0 -.75em;
      text-indent: .75em;
      font-weight: bold;
      border: 3px dashed rgba(0,0,0,.2);
    }
  }
  &.loading {
    padding-top: .9375em;
    background: transparent url(~"../img/loading.gif") no-repeat top center;
    .empty-list {
      display: none;
    }
  }
}


.cover-art {
  float: left;
  margin-right: .5em;
}

.playback-controls {
  text-align: center;

  ul {
    list-style: none inside ;
    margin: 0;
    padding: 0;
  }

  li {
    text-indent: -9999em;
    display: inline-block;
  }

  .playback-controls-pause {
    display: none;
  }
  .playback-controls-play {
    background: transparent url(../img/play-controls.svg) -32px 0;
    width: 32px;
    height: 32px;
    &:hover {
      background-position: -32px -32px;
    }
  }
  .playback-controls-pause {
    display: none;
    background: transparent url(../img/play-controls.svg) -64px 0;
    width: 32px;
    height: 32px;
    &:hover {
      background-position: -64px -32px;
    }
  }
  .playback-controls-next {
    display: inline-block;
    background: transparent url(../img/play-controls.svg) -96px 0;
    width: 32px;
    height: 32px;
    &:hover {
      background-position: -96px -32px;
    }
  }
  .playback-controls-back {
    display: inline-block;
    background: transparent url(../img/play-controls.svg) 0 0;
    width: 32px;
    height: 32px;
    &:hover {
      background-position: 0 -32px;
    }
  }
  &.playing {
    .playback-controls-pause {
      display: inline-block;
    }
    .playback-controls-play {
      display: none;
    }
  }
}

.volume-controls {
  text-align: center;

  ul {
    list-style: none inside ;
    margin: 0;
    padding: 0;
  }

  li {
    text-indent: -9999em;
    line-height: 32px;
    display: inline-block;
  }

  .volume-down {
    background: transparent url(../img/play-controls.svg) -128px 0;
    width: 32px;
    &:hover {
      background-position: -128px -32px;
    }
  }
  .volume-level {
    text-indent: 0;
    text-align: center;
    width: 2em;
    background: #000;
    padding: 0;
    color: #fff;
  }
  .volume-up {
    background: transparent url(../img/play-controls.svg) -160px 0;
    width: 32px;
    &:hover {
      background-position: -160px -32px;
    }
  }
}

@media screen and (min-width: 40em) {
  body {
    padding-top: 1em;
  }
}

@media screen and (min-width: 64em) {
}

@media screen and (min-width: 80em) {

}
