<span class="nav_main_back" role="button">Back</span>
<span class="nav_main_play" role="button">Play</span>
<span class="nav_main_pause" role="button">Pause</span>
<span class="nav_main_next" role="button">Next</span>
<span class="nav_main_search"><input type="search" id="mopidy_search" size="24"></span>
