<div class="columns six page_controls">
<ul>
{{#each items}}<li{{#if current}} class="current"{{/if}}><a href="{{{url}}}">{{name}}</a></li>{{/each}}
</ul>
</div>
<div class="columns six navigation_controls">
</div>
