input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  display: inline-block;
  width: auto;
  min-width: 4em;
  height: 2em;
  padding: 0 .25em;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: @brand-success;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: @brand-success;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: @brand-success;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: @brand-success;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: @brand-success;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: @brand-success;
}
input[type=range]:focus::-ms-fill-upper {
  background: @brand-success;
}