<div class="columns one-half">
<section class="view-section artist_localtracks">
<h1>Local Tracks</h1>
<ul class="action-toolbar">
  <li><span role="button" class="queue_all_local" tabindex="0">Queue All</span> <span role="button" class="queue_selected" tabindex="0">Queue Selected</span></li>
</ul>
</section>
<section class="view-section artist_tracks">
<h1>Tracks</h1>
<ul class="action-toolbar">
  <li><span role="button" class="queue_all" tabindex="0">Queue All</span> <span role="button" class="queue_selected" tabindex="0">Queue Selected</span></li>
</ul>
</section>
</div>

<div class="columns one-half">
<section class="view-section artist_description">
</section>
<section class="view-section artist_albums">
<h1>Albums</h1>
</section>
</div>
