<div class="scrolling_container">
  <div class="row">
    <section class="search_results_albums columns six"><h1>Albums</h1></section>
    <section class="search_results_artists columns six"><h1>Artists</h1></section>
  </div>
  <div class="row">
    <section class="search_results_tracks columns six"><h1>Tracks</h1></section>
    <section class="search_results_localtracks columns six"><h1>Local Tracks</h1></section>
  </div>
</div>
