<div class="columns one-half">
<section class="app_page search_results_albums">
<h1>Albums</h1>
</section>
<section class="app_page search_results_artists">
<h1>Artists</h1>
</section>
</div>

<div class="columns one-half">
<section class="app_page search_results_tracks">
<h1>Tracks</h1>
</section>
<section class="app_page search_results_localtracks">
<h1>Local Tracks</h1>
</section>
</div>
