<section class="view-section search_results_albums">
<h1>Albums</h1>
</section>
<section class="view-section search_results_artists">
<h1>Artists</h1>
</section>
<section class="view-section search_results_tracks">
<h1>Tracks</h1>
</section>
<section class="view-section search_results_localtracks">
<h1>Local Tracks</h1>
</section>
