<input type="checkbox" data-track-id="{{uri}}" tabindex="-1">
<span class="list-item-title {{#if current}}current_track{{/if}}">{{name}}</span> <span class="list-item-artist">{{artists.0.name}}</span>
