<input type="checkbox" data-tracklist-id="{{tlid}}" tabindex="-1">
<span class="list-item-title {{#if current}}current_track{{/if}}">{{track.name}}</span> <span class="list-item-artist">{{track.artists.0.name}}</span>
