<div class="columns one-half">
<section class="app_page album_tracks">
<h1>Tracks</h1>
<ul class="action_group">
  <li><span role="button" class="queue_all" tabindex="0">Queue Album</span> <span role="button" class="queue_selected" tabindex="0">Queue Selected</span></li>
</ul>
</section>
</div>

<div class="columns one-half">
<section class="app_page album_description">
</section>
</div>
