<ul>
<li class="playback-controls-back" role="button">Back</li><li class="playback-controls-play" role="button">Play</li><li class="playback-controls-pause" role="button">Pause</li><li class="playback-controls-next" role="button">Next</li>
</ul>
