<ul>
<li role=button class="volume-control volume-down">Down</li><li class="volume-control volume-level">{{#if volume}} {{{volume}}}{{^}}-{{/if}}</li><li role="button" class="volume-control volume-up">Up</li>
</ul>
